#title{
	text-align:center;
	color:#6E29D6;
}
		#head1{
			text-align:center;
			color:#6E29D6;
		}
		#head3{
			text-align:left;
			color:#6E29D6;

		}

img{
	display:block;
	margin:auto;
}

link{
	display:block;
	margin:auto;
}